.App {
  text-align: center;
}

body {
  background-color: forestgreen;
}

@import url('http://fonts.cdnfonts.com/css/callie-chalk-font');


.chalkWords {
  color: white;
  font-family: 'Callie Chalk Font', sans-serif;
  word-spacing: 10px;
}